streamlit
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-groq
python-dotenv
faiss-cpu
sentence-transformers
pypdf
langchain-huggingface
transformers
sentence-transformers
torch
torchvision
langsmith
rank-bm25