streamlit
pandas
python-dotenv

langchain
langchain-core
langchain-classic
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-chroma

chromadb
rank-bm25
pypdf

sentence-transformer
transformers
torch


langsmith
grpcio
protobuf
