streamlit
panda
python-doten

langchai
langchain-cor
langchain-classi
langchain-communit
langchain-text-splitter
langchain-gro
langchain-huggingfac
langchain-chrom

chromadb
rank-bm25
pypdf

sentence-transformer
transformers
torch


langsmith
grpcio
protobuf
